#title {
    font-size: 35px;
    color:rgba(14, 157, 252, 0.932);
}
.paragraph{
    font-size: 20px;
    color: rgb(60, 162, 245);
}
.heading{
    font: size 25px;
    color: rgb(29, 132, 216);
    font-family:'Franklin Gothic Medium';
}
.list{
    font-size: 20px;
    color: rgb(3, 133, 3);
}